<nav class="navbar navbar-expand-lg">
   
    <a class="navbar-brand" href="#">
      <img src="assets/images/RecursosMoneyClip_Logo.png" alt="logo" style="width:100px;">
    </a>
    
  
    <ul class="navbar-nav ml-auto">
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-41.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-42.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-43.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-44.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
    </ul>
  </nav>


<div  class = " contenedor mt-3 animado fadeInRight " >
    
    <ul class="nav">
        <li class="nav-item col-sm-3">
          <a class="lead nav-link disabled" href="#">Cambiar contraseña</a>
        </li>
        <li class="nav-item col-sm-3">
          <a class="lead nav-link" href="#">Mis datos</a>
        </li>
        <li class="nav-item col-sm-3">
          <a class="lead nav-link" href="#">Mi CVU</a>
        </li>
      </ul>
    <hr  class = "lineaCompletarDatos" color="white" >
</div>

<div  class = "d-flex justify-content-center" >


    <form  class = " mt-5 text-white col-8" >

        <div class="wrap-input100 m-b-16">
            <input class="input100" type="text" style="text-align: center" placeholder="Contraseña vieja">

            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 m-b-16">
            <input class="input100" type="text" style="text-align: center" placeholder="Contraseña nueva">

            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 m-b-16">
            <input class="input100" type="text" style="text-align: center" placeholder="Contraseña nueva">

            <span class="focus-input100"></span>
        </div>
        <div class="container-login100-form-btn justify-content-center ">
            <button class="login200-form-btn" type="submit">
                Guardar
            </button>
        </div>
          


    </form>
