
<nav class="navbar navbar-expand-lg">
   
    <a class="navbar-brand" href="#">
      <img src="assets/images/RecursosMoneyClip_Logo.png" alt="logo" style="width:100px;">
    </a>
    
  
    <ul class="navbar-nav ml-auto">
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-41.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-42.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-43.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-44.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
    </ul>
  </nav>

  <div  class = " contenedor mt-3 animado fadeInRight " >
    
    <ul class="nav">
        <li class="nav-item col-sm-3">
          <a class="lead nav-link disabled" href="#">Transferencia</a>
        </li>
        <li class="nav-item col-sm-3">
          <a class="lead nav-link" href="#">Agregar CBU</a>
        </li>
      </ul>
    <hr  class = "lineaCompletarDatos" color="white" >
</div>

<div class="container">

    <div class="row">
        
        <div class="column">
            <div class="center">
            <div class="center">
                <label class="txt3">Ingresa el CBU, CVU o Alias </label>
            </div>

            <div class="wrap-input200 m-b-16">               
                <input class="input109" type="text" placeholder="1234567891234567891234">
            </div>
            <div class="container-login100-form-btn1 m-t-17">
                <button class="login300-form-btn" type="submit">
                    Confirmar
                </button>
            </div>

<br>
<br>

            <div>
            <p class="lead">Nombre Ficticio</p>
            <p class="lead">CUIT/CUIL: 20-00000000-1</p>
<br>
<br>
            <p class="lead">Banco Ficticio</p>
            <p class="lead">CBU: 1234567891234567891234</p>
            <p class="lead">Caja de ahorros</p>
            </div>
            <div class="container-login100-form-btn1 m-t-17">
                <button class="login300-form-btn" type="submit">
                    Confirmar
                </button>
            </div>
            </div>
        </div>
    
        <div class="column ">
            <div class="center">
            <div class="center">
                <label class="txt2">Monto </label>
            </div>
    
            <div class="wrap-input200 m-b-16 ">               
                <input class="input109" type="text" placeholder="$0">
            </div>
            <p class="lead">$100.00 Disponibles</p>
            <div class="container-login100-form-btn1 m-t-17">
                <button class="login300-form-btn" type="submit">
                    Confirmar
                </button>  
            </div>
            <br>
            <br>
            <p class="lead">Transferencia realizada con exito!</p>
          
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
