<app-navbar></app-navbar>
<div class="colorfondohome animated fadeInLeft mb-5">


    <div class="container text-white">
        <div class="saldo-disponible d-flex justify-content-center">
            <h1>$100.00</h1>
        </div>
        <div class="saldo-disponible d-flex justify-content-center">
            <h6>SALDO DISPONIBLE</h6>
        </div>

        <div class=" d-flex justify-content-center mt-5">

            <div class="logosytextoscentrales">

                <a class="d-flex justify-content-center" href=" "><img class="" src="../assets/images/home-icons/MoneyClip Interfaz-50.png "></a>
                <a class="d-flex justify-content-center" href=" "><img class="" src="../assets/images/home-icons/MoneyClip Interfaz-53.png "></a>
                <a class="d-flex justify-content-center" href=" "><img class="" src="../assets/images/home-icons/MoneyClip Interfaz-51.png "></a>

                <div class="d-flex justify-content-center">
                    <h6 class="uno">CARGAR SALDO</h6>
                </div>
                <div class="d-flex justify-content-center">
                    <h6 class="uno">COMPRAS</h6>
                </div>
                <div class="d-flex justify-content-center">
                    <h6 class="uno">TRANSFERENCIAS</h6>
                </div>

            </div>

        </div>
        <div class="hrlinea ">
            <hr class="linea ">
        </div>


        <div class="titulos-movimientos d-flex justify-content-between ">
            <h3>Movimientos</h3>
            <a href=" "><img class="logo-config " src="../assets/images/home-icons/MoneyClip Interfaz-54.png "></a>
        </div>

        <div class="section-movimientos ">
            <div class="mov-col-una mt-3 ">
                <p class="mb-1 d-flex justify-content-around align-items-center mr-5 ml-5 "><img src="../assets/images/home-icons/MoneyClip Interfaz-52.png "> 11/12/20 - Aca concepto de entrada. <span class="concepto ">+$1500</span></p>

                <p class="mb-1 d-flex justify-content-around align-items-center mr-5 ml-5 "><img src="../assets/images/home-icons/MoneyClip Interfaz-52.png "> 11/12/20 - Aca concepto de entrada. <span class="concepto ">+$1500</span></p>

                <p class="mb-1 d-flex justify-content-around align-items-center mr-5 ml-5 "><img src="../assets/images/home-icons/MoneyClip Interfaz-52.png "> 11/12/20 - Aca concepto de entrada. <span class="concepto ">+$1500</span></p>

                <p class="mb-1 d-flex justify-content-around align-items-center mr-5 ml-5 "><img src="../assets/images/home-icons/MoneyClip Interfaz-52.png "> 11/12/20 - Aca concepto de entrada. <span class="concepto ">+$1500</span></p>

                <p class="mb-1 d-flex justify-content-around align-items-center mr-5 ml-5 "><img src="../assets/images/home-icons/MoneyClip Interfaz-52.png "> 11/12/20 - Aca concepto de entrada. <span class="concepto ">+$1500</span></p>
            </div>
            <div class="mov-col-dos mt-3 ">
                <p class="mb-1 d-flex justify-content-around align-items-center mr-5 ml-5 "><img src="../assets/images/home-icons/MoneyClip Interfaz-52.png "> 11/12/20 - Aca concepto de entrada. <span class="concepto ">+$1500</span></p>

                <p class="mb-1 d-flex justify-content-around align-items-center mr-5 ml-5 "><img src="../assets/images/home-icons/MoneyClip Interfaz-52.png "> 11/12/20 - Aca concepto de entrada. <span class="concepto ">+$1500</span></p>

                <p class="mb-1 d-flex justify-content-around align-items-center mr-5 ml-5 "><img src="../assets/images/home-icons/MoneyClip Interfaz-52.png "> 11/12/20 - Aca concepto de entrada. <span class="concepto ">+$1500</span></p>

                <p class="mb-1 d-flex justify-content-around align-items-center mr-5 ml-5 "><img src="../assets/images/home-icons/MoneyClip Interfaz-52.png "> 11/12/20 - Aca concepto de entrada. <span class="concepto ">+$1500</span></p>

                <p class="mb-1 d-flex justify-content-around align-items-center mr-5 ml-5 "><img src="../assets/images/home-icons/MoneyClip Interfaz-52.png "> 11/12/20 - Aca concepto de entrada. <span class="concepto ">+$1500</span></p>
            </div>

        </div>

    </div>
</div>