<app-navbar></app-navbar>
<div class="colorfondohome animated fadeInLeft mb-5">


    <div class="container text-white">
        <div class="saldo-disponible d-flex justify-content-center">
            <h1>${{plata}}</h1>
        </div>
        <div class="saldo-disponible d-flex justify-content-center mb-2">
            <h6>SALDO DISPONIBLE</h6>
        </div>

        <div class="logosytextoscentrales row text-center">

            <div class="col-4">

                <a class="" href=" "><img class="" src="../assets/images/home-icons/MoneyClip Interfaz-50.png "></a>
                <h6>CARGAR SALDO</h6>
            </div>



            <div class="col-4">
                <a class="" href=" "><img class="" src="../assets/images/home-icons/MoneyClip Interfaz-53.png "></a>
                <h6>COMPRAS</h6>
            </div>
            <div class="col-4">
                <a class="" href=" " routerLink="/transferencias"><img class="" src="../assets/images/home-icons/MoneyClip Interfaz-51.png "></a>
                <h6>TRANSFERENCIAS</h6>


            </div>
        </div>


        <div class="hrlinea ">
            <hr class="linea ">
        </div>



        <div class="row">
            <div class="col d-flex justify-content-start">
                <h3>Movimientos</h3>
            </div>
            <div class="col d-flex justify-content-end">
                <a href=" "><img class="logo-config " src="../assets/images/home-icons/MoneyClip Interfaz-54.png "></a>
            </div>
        </div>

        <div class="container">
            <div *ngFor="let item of movim">
                {{item}}
            </div>
        </div>

        <!-- <div class="container row">
            <div class="mov-col-una col-lg-6  flex-column justify-content-around align-items-center mb-1   mr-5 ml-5">
                <div class="mb-1 d-flex justify-content-between align-items-center mr-5 ml-5 ">
                    <img height="40px" width="40px" src="../assets/images/home-icons/MoneyClip Interfaz-52.png ">
                    <span>Fecha: {{ ultmomovimiento1['Fecha']}}</span>
                    <span>Ultimo mov: ${{ultmomovimiento1['Monto'] }}</span>
                </div>
                <div class="mb-1 d-flex justify-content-between align-items-center mr-5 ml-5 ">
                    <img height="40px" width="40px" src="../assets/images/home-icons/MoneyClip Interfaz-52.png ">
                    <span>Fecha: {{ ultmomovimiento2['Fecha']}}</span>
                    <span>Ultimo mov: ${{ultmomovimiento2['Monto'] }}</span>
                </div>
                <div class="mb-1 d-flex justify-content-between align-items-center mr-5 ml-5 ">
                    <img height="40px" width="40px" src="../assets/images/home-icons/MoneyClip Interfaz-52.png ">
                    <span>Fecha: {{ ultmomovimiento3['Fecha']}}</span>
                    <span>Ultimo mov: ${{ultmomovimiento3['Monto'] }}</span>
                </div>
                <div class="mb-1 d-flex justify-content-between align-items-center mr-5 ml-5 ">
                    <img height="40px" width="40px" src="../assets/images/home-icons/MoneyClip Interfaz-52.png ">
                    <span>Fecha: {{ ultmomovimiento4['Fecha']}}</span>
                    <span>Ultimo mov: ${{ultmomovimiento4['Monto'] }}</span>
                </div>
                <div class="mb-1 d-flex justify-content-between align-items-center mr-5 ml-5 ">
                    <img height="40px" width="40px" src="../assets/images/home-icons/MoneyClip Interfaz-52.png ">
                    <span>Fecha: {{ ultmomovimiento5['Fecha']}}</span>
                    <span>Ultimo mov: ${{ultmomovimiento5['Monto'] }}</span>
                </div>
            </div>
            <div class="mov-col-dos col-lg-6 ">
                <div class="mb-1 d-flex justify-content-between align-items-center mr-5 ml-5 ">
                    <img height="40px" width="40px" src="../assets/images/home-icons/MoneyClip Interfaz-52.png ">
                    <span>Fecha: {{ ultmomovimiento6['Fecha']}}</span>
                    <span>Ultimo mov: ${{ultmomovimiento6['Monto'] }}</span>
                </div>
                <div class="mb-1 d-flex justify-content-between align-items-center mr-5 ml-5 ">
                    <img height="40px" width="40px" src="../assets/images/home-icons/MoneyClip Interfaz-52.png ">
                    <span>Fecha: {{ ultmomovimiento7['Fecha']}}</span>
                    <span>Ultimo mov: ${{ultmomovimiento7['Monto'] }}</span>
                </div>
                <div class="mb-1 d-flex justify-content-between align-items-center mr-5 ml-5 ">
                    <img height="40px" width="40px" src="../assets/images/home-icons/MoneyClip Interfaz-52.png ">
                    <span>Fecha: {{ ultmomovimiento8['Fecha']}}</span>
                    <span>Ultimo mov: ${{ultmomovimiento8['Monto'] }}</span>
                </div>
                <div class="mb-1 d-flex justify-content-between align-items-center mr-5 ml-5 ">
                    <img height="40px" width="40px" src="../assets/images/home-icons/MoneyClip Interfaz-52.png ">
                    <span>Fecha: {{ ultmomovimiento9['Fecha']}}</span>
                    <span>Ultimo mov: ${{ultmomovimiento9['Monto'] }}</span>
                </div>
                <div class="mb-1 d-flex justify-content-between align-items-center mr-5 ml-5 ">
                    <img height="40px" width="40px" src="../assets/images/home-icons/MoneyClip Interfaz-52.png ">
                    <span>Fecha: {{ ultmomovimiento10['Fecha']}}</span>
                    <span>Ultimo mov: ${{ultmomovimiento10['Monto'] }}</span>
                </div>
            </div>

        </div> -->

    </div>
</div>