
<nav class="navbar navbar-expand-lg">
   
    <a class="navbar-brand" href="#">
      <img src="assets/images/RecursosMoneyClip_Logo.png" alt="logo" style="width:100px;">
    </a>
    
  
    <ul class="navbar-nav ml-auto">
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-41.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-42.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-43.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-44.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
    </ul>
  </nav>

  <div  class = " contenedor mt-3 animado fadeInRight " >
    
    <ul class="nav">
        <li class="nav-item col-sm-3">
          <a class="lead nav-link disabled" href="#">Recuperar contraseña</a>
        </li>
    </ul>
    <hr  class = "lineaCompletarDatos" color="white" >
</div>

<div class="container">
    <div class="center">
    <div>
        <p class="lead">Para recuperar tu contraseña Ingresa tu Mail, Tipo y Número de DNI con el que te registraste.</p>
    </div>

    <div class="center">
        <label class="txt3">MAIL </label>
    </div>

    <div class="wrap-input210 m-b-16 center">               
        <input class="input109" type="text" placeholder="correo@example.com">
    </div>

    <div class="center">
        <label class="txt3">Tipo de Documento </label>
    </div>

    <div class="wrap-input210 m-b-16 center">               
        <input class="input109" type="text" placeholder="Tipo de Documento">
    </div>

    <div class="center">
        <label class="txt3">Número </label>
    </div>

    <div class="wrap-input210 m-b-16 center">               
        <input class="input109" type="text" placeholder="11.111.111">
    </div>

    <div class="container-login100-form-btn1 m-t-17">
        <button class="login300-form-btn" type="submit">
            Enviar
        </button>
    </div>

    <br>
    <br>
</div>
</div>