<nav class="navbar navbar-expand-lg">
   
    <a class="navbar-brand" href="#">
      <img src="assets/images/RecursosMoneyClip_Logo.png" alt="logo" style="width:100px;">
    </a>
    
  
    <ul class="navbar-nav ml-auto">
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-41.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-42.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-43.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-44.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <div class="center">
  
        <img src="assets/images/MoneyClip_Interfaz-66.png" alt="logo" style="width:250px;">
   
    <div>
        <p class="lead">Mail de Recuperación enviado.</p>
        <p class="lead">Si no lo recibió, revise la carpeta de spam.</p>
    </div>
    </div>
  </div>
