<app-navbar></app-navbar>

<div class="container">
    <div class=" contenedor mt-3 mb-5 animado fadeInRight border-bottom border-3 border-info">

        <ul class="nav">
            <li class="nav-item col-sm-3">
                <a class="lead nav-link disabled" href="#">Transferencia</a>
            </li>
            <li class="nav-item col-sm-3">
                <a class="lead nav-link" href="#">Agregar CBU</a>
            </li>
        </ul>
    </div>

    <div class="container">

        <div class="row">

            <div class="col border-end border-info border-3 text-center p-4">
                <div class="center">
                    <div class="center">
                        <label class="input100">Ingresa el CBU, CVU o Alias </label>
                    </div>
                    <form>
                        <div class="wrap-input200 m-b-16">
                            <input class="input100 border rounded border-info text-center" type="text" value="" [(ngModel)]="personaCuenta.cbu" name="Cbu">
                        </div>
                        <div class="mt-3">
                            <button class="btn btn-outline-info" type="submit" (click)="onSubmit(personaCuenta.cbu)">
                            Buscar
                        </button>
                        </div>
                    </form>


                    <div class="mt-3">
                        <p class="lead">Nombre Ficticio</p>
                        <p class="lead">CUIT/CUIL: 20-00000000-1</p>
                        <p class="lead">Banco Ficticio</p>
                        <p class="lead">Nombre Destinatario: {{nombreDestinatario}} </p>
                        <p class="lead">Caja de ahorros</p>
                    </div>
                    <div class="container-login100-form-btn1 m-t-17">
                        <button class="btn btn-outline-info" type="submit">
                        Confirmar
                    </button>
                    </div>
                </div>
            </div>

            <div class="col text-center p-4">
                <div class="center">
                    <div class="center">
                        <label class="input100">Monto </label>
                    </div>

                    <div class="wrap-input200 mb-3">
                        <input class="input100 border rounded border-info text-center" type="text" placeholder="$0">
                    </div>
                    <p class="input100">$100.00 Disponibles</p>
                    <div class="">
                        <button class="btn btn-outline-info" type="submit">
                        Confirmar
                    </button>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>