<div class="limiter animated fadeInRight">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form #formulario="ngForm" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Crear nueva cuenta
                </span>

                <span *ngIf="formulario.submitted && formulario.controls['Nombre'].errors"
                    class="text-white animated fadeIn">El nombre es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="Nombre" placeholder="Nombres"
                        [(ngModel)]="selectedPersona.Nombre" required>

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="formulario.submitted && formulario.controls['Apellido'].errors"
                    class="text-white animated fadeIn">El apellido es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="Apellido" placeholder="Apellidos"
                        [(ngModel)]="selectedPersona.Apellido" required>

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="formulario.submitted && formulario.controls['Email'].errors"
                    class="text-white animated fadeIn">El email es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="email" name="Email" placeholder="Email"
                        [(ngModel)]="selectedPersona.Email" required email>

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="formulario.submitted && formulario.controls['Pass'].errors"
                    class="text-white animated fadeIn">Al menos 8 caracteres</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="password" name="Pass" placeholder="Contraseña"
                        [(ngModel)]="selectedPersona.Pass" required minlength="8">

                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Recordar mi usuario
                        </label>
                    </div>

                    <div>
                        <a routerLink="/login" class="txt1">
                            ¿Ya tienes cuenta? / Ingresar
                        </a>
                    </div>
                </div>
                
                <div>
                    
                    <div>  <label> Photo DNI</label>
                    <INPUT id="fuArchivo" type="file" runat="server" NAME="oFile">
                    </div> 
                    <div>  <label> Photo Rostro</label>
                    <INPUT id="fuArchivorostro" type="file" runat="server" NAME="oFile">
                    </div> 
                    <div> 
                    <button id="BtnAceptar" type="submit" text="Subir" runat="server">enviar</button>
                    </div> 
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit" (click)="onSubmit(formulario, selectedPersona)">
                        Crear cuenta
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- <form id="Form1" method="post" runat="server" EncType="multipart/form-data" action="WebForm1.aspx">
    <div> 
        <div> <label> Nombre</label> <INPUT id="txtnombre" type="text" runat="server" NAME="txtnombre">
        </div> 
        <div> <label> Apellido</label> <INPUT id="txtapellido" type="text" runat="server" NAME="txtapellido">
        </div> 
        <div> <label> Usuario</label> <INPUT id="txtusuario" type="text" runat="server" NAME="txtusuario">
        </div> 
        <div> <label> Contraseña</label> <INPUT id="txtpassword" type="text" runat="server" NAME="txtpassword">
        </div> 
    </div> 
    </form > -->