<app-navbar></app-navbar>
<div class="container text-center mt-5">
    <p class="input100">El monto que se depositara en su cuenta sera el 10% de su saldo actual</p>
    <div class="d-flex justify-content-center">
        <input class="input100 border rounded border-info col-4 text-center" type="text" placeholder="$0" [(ngModel)]="giro.Monto" />
    </div>
    <p class="input100 mt-5">Saldo Actual:{{personaLogeadaCuenta["Saldo"]}}</p>
    <p class="input100 ">Disponible para girar:</p>
    <p class="input100  text-info">
        $ {{personaLogeadaCuenta["Saldo"]*.10}}
    </p>
    <button class="btn btn-outline-info" type="submit" (click)="enviarGiro(giro.Monto)">Enviar</button>

</div>