USE [master]
GO
/****** Object:  Database [moneyCLIP]    Script Date: 24/01/2021 22:58:26 ******/
CREATE DATABASE [moneyCLIP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'moneyCLIP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\moneyCLIP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'moneyCLIP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\moneyCLIP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [moneyCLIP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [moneyCLIP]
GO
/****** Object:  User [clip]    Script Date: 24/01/2021 22:58:27 ******/
CREATE USER [clip] FOR LOGIN [clip] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [clip]
GO
/****** Object:  Table [dbo].[cuenta]    Script Date: 24/01/2021 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuenta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[estado] [nchar](10) NULL,
	[saldo] [money] NULL,
	[nro_cuenta] [int] NULL,
	[alias] [nchar](10) NULL,
	[cbu] [bigint] NULL,
	[moneda] [nchar](10) NULL,
	[id_persona] [int] NOT NULL,
 CONSTRAINT [PK_cuenta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operacion]    Script Date: 24/01/2021 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operacion](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[monto] [money] NOT NULL,
	[fecha] [smalldatetime] NOT NULL,
	[tasa_interes] [float] NULL,
	[monto_maximo] [money] NULL,
	[situacion_crediticia] [smallint] NULL,
	[id_cuenta] [int] NOT NULL,
	[id_tipo_operacion] [smallint] NOT NULL,
 CONSTRAINT [PK_Operaciones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 24/01/2021 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[cuit] [nvarchar](50) NULL,
	[direccion] [nvarchar](50) NULL,
	[sexo] [nvarchar](50) NULL,
	[celular] [nvarchar](50) NULL,
	[foto] [nvarchar](50) NULL,
	[email] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NOT NULL,
	[localidad] [nvarchar](50) NULL,
	[provincia] [nvarchar](50) NULL,
 CONSTRAINT [PK_persona] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provincias]    Script Date: 24/01/2021 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provincias](
	[id] [int] NOT NULL,
	[provincia] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_operacion]    Script Date: 24/01/2021 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_operacion](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[tipo] [nchar](20) NOT NULL,
 CONSTRAINT [PK_tipo_operacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ultimos_mov]    Script Date: 24/01/2021 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ultimos_mov](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[monto] [money] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[id_cuenta] [int] NOT NULL,
	[id_tipo_operacion] [smallint] NOT NULL,
 CONSTRAINT [PK_ultimos_mov] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 24/01/2021 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[pass] [varchar](50) NOT NULL,
	[id_persona] [int] NOT NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cuenta] ON 

INSERT [dbo].[cuenta] ([id], [estado], [saldo], [nro_cuenta], [alias], [cbu], [moneda], [id_persona]) VALUES (1, N'1         ', 100.0000, 1234, N'alias     ', 1234, N'pesos     ', 1)
INSERT [dbo].[cuenta] ([id], [estado], [saldo], [nro_cuenta], [alias], [cbu], [moneda], [id_persona]) VALUES (2, N'1         ', 50.0000, 123456, N'alias     ', 1234567891011, N'pesos     ', 2)
SET IDENTITY_INSERT [dbo].[cuenta] OFF
GO
SET IDENTITY_INSERT [dbo].[operacion] ON 

INSERT [dbo].[operacion] ([id], [monto], [fecha], [tasa_interes], [monto_maximo], [situacion_crediticia], [id_cuenta], [id_tipo_operacion]) VALUES (3, 500.0000, CAST(N'2020-12-12T02:08:00' AS SmallDateTime), NULL, NULL, NULL, 9, 2)
INSERT [dbo].[operacion] ([id], [monto], [fecha], [tasa_interes], [monto_maximo], [situacion_crediticia], [id_cuenta], [id_tipo_operacion]) VALUES (4, 300.0000, CAST(N'2020-12-15T02:05:00' AS SmallDateTime), NULL, NULL, NULL, 9, 2)
SET IDENTITY_INSERT [dbo].[operacion] OFF
GO
SET IDENTITY_INSERT [dbo].[persona] ON 

INSERT [dbo].[persona] ([id], [nombre], [apellido], [cuit], [direccion], [sexo], [celular], [foto], [email], [pass], [localidad], [provincia]) VALUES (1, N'Alejandro', N'Torancio', N'1234', N'Piedras', N'M', N'123456', N'0', N'alejandro@gmail.com', N'123456', N'AMINGA', N'La Rioja')
SET IDENTITY_INSERT [dbo].[persona] OFF
GO
INSERT [dbo].[provincias] ([id], [provincia]) VALUES (1, N'Buenos Aires')
INSERT [dbo].[provincias] ([id], [provincia]) VALUES (2, N'Buenos Aires-GBA')
INSERT [dbo].[provincias] ([id], [provincia]) VALUES (3, N'Capital Federal')
GO
SET IDENTITY_INSERT [dbo].[tipo_operacion] ON 

INSERT [dbo].[tipo_operacion] ([id], [tipo]) VALUES (1, N'Transferencia       ')
INSERT [dbo].[tipo_operacion] ([id], [tipo]) VALUES (2, N'Extraccion          ')
INSERT [dbo].[tipo_operacion] ([id], [tipo]) VALUES (3, N'Deposito            ')
SET IDENTITY_INSERT [dbo].[tipo_operacion] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id], [usuario], [pass], [id_persona]) VALUES (1, N'alejandro@gmail.com', N'abcd1234', 1)
INSERT [dbo].[usuario] ([id], [usuario], [pass], [id_persona]) VALUES (2, N'agustin124@gmail.com', N'abcd1234', 2)
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
ALTER TABLE [dbo].[operacion]  WITH CHECK ADD  CONSTRAINT [FK_operacion_tipo_operacion] FOREIGN KEY([id_tipo_operacion])
REFERENCES [dbo].[tipo_operacion] ([id])
GO
ALTER TABLE [dbo].[operacion] CHECK CONSTRAINT [FK_operacion_tipo_operacion]
GO
ALTER TABLE [dbo].[ultimos_mov]  WITH CHECK ADD  CONSTRAINT [FK_ultimos_mov_cuenta] FOREIGN KEY([id_cuenta])
REFERENCES [dbo].[cuenta] ([id])
GO
ALTER TABLE [dbo].[ultimos_mov] CHECK CONSTRAINT [FK_ultimos_mov_cuenta]
GO
ALTER TABLE [dbo].[ultimos_mov]  WITH CHECK ADD  CONSTRAINT [FK_ultimos_mov_operacion] FOREIGN KEY([id_tipo_operacion])
REFERENCES [dbo].[operacion] ([id])
GO
ALTER TABLE [dbo].[ultimos_mov] CHECK CONSTRAINT [FK_ultimos_mov_operacion]
GO
/****** Object:  StoredProcedure [dbo].[consulta_saldo]    Script Date: 24/01/2021 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[consulta_saldo]
@id int
as
begin
Select id, saldo
from cuenta
where id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[deposito]    Script Date: 24/01/2021 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[deposito]

	@monto float, @id_cuenta smallint

AS
BEGIN
	
	SET NOCOUNT ON;

	INSERT INTO [dbo].[operacion]
           ([monto]
           ,[fecha]
           ,[id_cuenta]
           ,[id_tipo_operacion])
	VALUES
		(@monto, GETDATE(), @id_cuenta, 3)

	UPDATE [dbo].[cuenta]
	SET 
      [saldo] = [saldo] + @monto
       
	WHERE [id] = @id_cuenta 

END
GO
/****** Object:  StoredProcedure [dbo].[eliminar_persona]    Script Date: 24/01/2021 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[eliminar_persona]
	@id int
AS
BEGIN
	DELETE FROM [dbo].[persona]
      WHERE @id = id
END
GO
/****** Object:  StoredProcedure [dbo].[extraccion]    Script Date: 24/01/2021 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[extraccion]

	@monto float, @id_cuenta smallint

AS
BEGIN
	
	SET NOCOUNT ON;

	INSERT INTO [dbo].[operacion]
           ([monto]
           ,[fecha]
           ,[id_cuenta]
           ,[id_tipo_operacion])
	VALUES
		(@monto, GETDATE(), @id_cuenta, 2)

	UPDATE [dbo].[cuenta]
	SET 
      [saldo] = [saldo] - @monto
       
	WHERE [id] = @id_cuenta 

END
GO
/****** Object:  StoredProcedure [dbo].[giro]    Script Date: 24/01/2021 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[giro]

	@monto float, @id_cuenta smallint, @tasa float, @monto_max money, @situacion smallint

AS
BEGIN
	
	SET NOCOUNT ON;

	INSERT INTO [dbo].[operacion]
           ([monto]
           ,[fecha]
           ,[tasa_interes]
           ,[monto_maximo]
           ,[situacion_crediticia]
           ,[id_cuenta]
           ,[id_tipo_operacion])
	VALUES
		(@monto, GETDATE(),@tasa, @monto_max, @situacion, @id_cuenta, 4)

	UPDATE [dbo].[cuenta]
	SET 
      [saldo] = [saldo] - @monto
       
	WHERE [id] = @id_cuenta 

END
GO
/****** Object:  StoredProcedure [dbo].[insertar_persona]    Script Date: 24/01/2021 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[insertar_persona] 
	
	@nombre char(20), @apellido char (20), @email nchar(50), @pass char(20)
	
AS
BEGIN
	INSERT INTO [dbo].[persona]
           ([nombre]
           ,[apellido]
           ,[email]
           ,[pass])
     VALUES
           (@nombre, @apellido, @email, @pass);
	SELECT CAST(scope_identity() AS int)

END
GO
/****** Object:  StoredProcedure [dbo].[insertar_usuario]    Script Date: 24/01/2021 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[insertar_usuario]
	
	@usuario nchar(50), @pass char(20), @id_persona int
AS
BEGIN
	INSERT INTO [dbo].[usuario]
           ([usuario]
           ,[pass]
           ,[id_persona])
     VALUES
           (@usuario, @pass, @id_persona);
		SELECT CAST(scope_identity() AS int)
END
GO
/****** Object:  StoredProcedure [dbo].[nuevo_usuario]    Script Date: 24/01/2021 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[nuevo_usuario]

	@usuario nchar(10), @pass char(10), @id_persona smallint

AS
BEGIN
	
	SET NOCOUNT ON;

	INSERT INTO [dbo].[usuario]
           ([usuario]
           ,[pass]
           ,[id_persona])
     VALUES
           (@usuario, @pass, @id_persona)
         

END
GO
/****** Object:  StoredProcedure [dbo].[obtener_login]    Script Date: 24/01/2021 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[obtener_login]
	@email nchar(50), @pass char(20)
AS
BEGIN
	
	SET NOCOUNT ON;
	SELECT [id]
      ,[nombre]
      ,[apellido]
      ,[email]
      ,[pass]
	FROM [dbo].[persona] WHERE email= @email and pass = @pass
END
GO
/****** Object:  StoredProcedure [dbo].[obtener_personas]    Script Date: 24/01/2021 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[obtener_personas]
	
AS

	SELECT [id]
      ,[nombre]
      ,[apellido]
      ,[email]
      ,[pass]
      
      
  FROM [dbo].[persona]
GO
/****** Object:  StoredProcedure [dbo].[transferencia]    Script Date: 24/01/2021 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[transferencia]

	@monto float, @id_cuenta smallint

AS
BEGIN
	
	SET NOCOUNT ON;

	INSERT INTO [dbo].[operacion]
           ([monto]
           ,[fecha]
           ,[id_cuenta]
           ,[id_tipo_operacion])
	VALUES
		(@monto, GETDATE(), @id_cuenta, 1)

	UPDATE [dbo].[cuenta]
	SET 
      [saldo] = [saldo] - @monto
       
	WHERE [id] = @id_cuenta 

END
GO
USE [master]
GO
