<app-navbar></app-navbar>

<div class="container mt-3 animated fadeInRight ">
    <h4 class="text-white">Completar datos: </h4>
    <hr class="lineaCompletarDatos">

    <div class="d-flex justify-content-center">


        <form class="mt-5 text-white col-8" autocomplete="off">
            <div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Nombre</label>
                    <div class="col-8">
                        <input class="form-control" type="text" name="Nombre" [(ngModel)]="persona.Nombre" placeholder="Nombre" value="{{ persona.Nombre }}" disabled>
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <label class="col-2 col-form-label">Apellido</label>
                    <div class="col-8">

                        <input class="form-control" type="text" name="Apellido" placeholder="Apellido" value="{{ persona.Apellido }}" disabled>
                    </div>
                </div>

            </div>


            <div class="form-group row mt-3">
                <label class="col-2 col-form-label">Provincia</label>
                <div class="col-8">

                    <select class="form-control" name="Provincia" [(ngModel)]="persona.Provincia" required #nombre value="{{ persona.Provincia }}">
                <option *ngFor="let provincia of provinces"   [value]="provincia" >
                    {{provincia}}
                </option >
            </select>


                </div>
            </div>

            <div class="form-group row mt-3">
                <label class="col-2 col-form-label">Localidad</label>
                <div class="col-8">

                    <select class="form-control" name="Localidad" [(ngModel)]="persona.Localidad" required (click)="getLocalidades(nombre.value)" value="{{ persona.Localidad }}"> 
                <option *ngFor="let localidad of localities" [value]="localidad" >
                    {{localidad}}
                </option>
            </select>

                </div>
            </div>

            <div class="form-group row mt-3">
                <label class="col-2 col-form-label">Direccion</label>
                <div class="col-8">

                    <input class="form-control" type="text" [(ngModel)]="persona.Direccion" name="Direccion" placeholder="Direccion" value="{{ persona.Direccion }}">
                </div>
            </div>

            <div class="form-group row mt-3">
                <label class="col-2 col-form-label">Cuit</label>
                <div class="col-8">

                    <input class="form-control" type="text" [(ngModel)]="persona.Cuit" name="Cuit" placeholder="Cuit" value="{{ persona.Cuit }}">
                </div>
            </div>
            <div class="form-group row mt-3">
                <label class="col-2 col-form-label">Telefono</label>
                <div class="col-8">

                    <input class="form-control" type="number" [(ngModel)]="persona.Celular" name="Celular" placeholder="Celular" value="{{ persona.Celular }}">
                </div>
            </div>

            <div class="form-group row mt-3">
                <label class="col-2 col-form-label">Correo</label>
                <div class="col-8">

                    <input class="form-control" type="email" [(ngModel)]="persona.Email" name="Email" placeholder="Correo electrónico" value="{{ persona.Email }}" disabled>
                </div>
            </div>

            <div class="form-group row mt-3">
                <label class="col-2 col-form-label">Password</label>
                <div class="col-8">

                    <input class="form-control" type="password" [(ngModel)]="persona.Pass" name="Pass" placeholder="Contraseña" value="{{ persona.Pass }} " disabled>
                </div>
            </div>


            <!-- <div class="border rounded border-info mt-4 p-3">
                <label class="input100 mt-4 text-center">  
                       Foto Documento</label>
                <input class="text-white me-5" name="foto_frente" [(ngModel)]="fotohtml.Foto_Frente" type="file" placeholder="Dni Frente" />
                <input class="text-white" name="foto_dorso" [(ngModel)]="fotohtml.Foto_Dorse" type="file" placeholder="Dni Dorso" />
            </div> -->




            <div class="input-group col-md-3 mt-4 row d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-info col-6" (click)="updatePersona(persona)">Guardar</button>
            </div>


        </form>

    </div>
</div>