<app-navbar></app-navbar>

<div class="container mt-3 animated fadeInRight ">
    <h4 class="text-white">Completar datos: </h4>
    <hr class="lineaCompletarDatos">

    <div class="d-flex justify-content-center">


        <form class="mt-5 text-white col-8" autocomplete="off">
            <div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Nombre</label>
                    <div class="col-8">
                        <input class="form-control" type="text" placeholder="Nombre">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Apellido</label>
                    <div class="col-8">

                        <input class="form-control" type="text" placeholder="Apellido">
                    </div>
                </div>

            </div>


            <div class="form-group row">
                <label class="col-2 col-form-label">Provincia</label>
                <div class="col-4">

                    <select class="form-control" name="provincia" ngModel required #nombre>
                <option *ngFor="let provincia of provinces"   [value]="provincia" >
                    
                    {{provincia}}
                </option >
            </select>


                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Localidad</label>
                <div class="col-8">

                    <select class="form-control" name="localidad" ngModel required (click)="getLocalidades(nombre.value)"> 
                <option *ngFor="let localidad of localities" [value]="localidad" >
                    {{localidad}}
                </option>
            </select>

                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Direccion</label>
                <div class="col-8">

                    <input class="form-control" type="text" placeholder="Direccion">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Telefono</label>
                <div class="col-8">

                    <input class="form-control" type="number" placeholder="Telefono">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Correo</label>
                <div class="col-8">

                    <input class="form-control" type="email" placeholder="Correo electrónico">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Password</label>
                <div class="col-8">

                    <input class="form-control" type="password" placeholder="Contraseña">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-2 col-form-label">&nbsp;</label>
                <div class="input-group col-md-8">
                    <button type="submit" class="login100-form-btn">
        Guardar
      </button>
                </div>
            </div>

        </form>

    </div>
</div>