<app-navbar></app-navbar>

<div class="container">

    <div class=" contenedor mt-3 animado fadeInRight ">

        <ul class="nav">
            <li class="nav-item col-sm-3">
                <a class="lead nav-link text-white" routerLink="/cvu" href="#">Mi CVU:</a>
            </li>
        </ul>
        <hr class="lineaCompletarDatos" color="white">
    </div>

    <div class="d-flex justify-content-center">


        <form class=" mt-5 text-white col-8 text-center">

            <p class="lead">Es el número que identifica a tu cuenta. Te sirve para recibir o mandar dinero desde o hacia cualquier cuenta bancaria o billetera virtual.</p>

            <hr>

            <div class="form-inline mt-5">
                <label class="input100">--CVU--</label>
                <div class="wrap-input200 m-b-16 text-center">
                    <input class="input100 border rounded text-center" type="text" placeholder="" value="1234567891234567891234" disabled>
                </div>
            </div>

            <div class="form-inline mt-5">
                <label class="input100">--Alias--</label>
                <div class="">
                    <input class="input100 border rounded text-center" type="text" placeholder="Alias">
                </div>
            </div>

        </form>
    </div>
</div>