<nav class="navbar navbar-expand-lg">
   
    <a class="navbar-brand" href="#">
      <img src="assets/images/RecursosMoneyClip_Logo.png" alt="logo" style="width:100px;">
    </a>
    
  
    <ul class="navbar-nav ml-auto">
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-41.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-42.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-43.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
      <li>
        <a class="nav-item col-sm-4" href="#">
            <span><img src="assets/images/MoneyClip_Interfaz-44.png" alt="logo" style="width:40px;"></span>
        </a>
      </li>
    </ul>
  </nav>


<div  class = " contenedor mt-3 animado fadeInRight " >
    
    <ul class="nav">
        <li class="nav-item col-sm-3">
          <a class="lead nav-link" href="#">Cambiar contraseña</a>
        </li>
        <li class="nav-item col-sm-3">
          <a class="lead nav-link" href="#">Mis datos</a>
        </li>
        <li class="nav-item col-sm-3">
          <a class="lead nav-link disabled" href="#">Mi CVU</a>
        </li>
      </ul>
    <hr  class = "lineaCompletarDatos" color="white" >
</div>

<div  class = "d-flex justify-content-center" >


    <form  class = " mt-5 text-white col-8" >

        <p class="lead">Es el número que identifica a tu cuenta. Te sirve para recibir o mandar dinero desde o hacia cualquier cuenta</p>
        <p class="lead">bancaria o billetera virtual.</p>
    
        
        <div class="form-inline justify-content-center">
              <label class="txt2">CVU &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <div class="wrap-input200 m-b-16">               
              <input class="input100" type="text" placeholder="1234567891234567891234">
        </div>
        </div>

        <div class="form-inline justify-content-center">
              <label class="txt2">Alias&nbsp;&nbsp;</label>
            <div class="wrap-input200 m-b-16 ">               
              <input class="input100" type="text" placeholder="Alias">
            </div>
        </div>

    </form>
</div>