<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onSubmit()">Logout</button>
        </form>
    </div>
</nav> -->



<div class="row navbar-shared">

    <div class="logo-navbar col">
        <a routerLink="/home">
            <img src="../assets/images/RecursosMoneyClip_Logo.png">
        </a>
    </div>

    <nav class="col">

        <a class="" routerLink="/home">
            <img src="../assets/images/home-icons/MoneyClip Interfaz-41.png">
        </a>


        <a class="" routerLink="/completar-datos">
            <img src="../assets/images/home-icons/MoneyClip Interfaz-42.png">
        </a>


        <a class="" routerLink="/home">
            <img src="../assets/images/home-icons/MoneyClip Interfaz-43.png">
        </a>


        <a class="" routerLink="/home">
            <img src="../assets/images/home-icons/MoneyClip Interfaz-44.png">
        </a>

    </nav>
</div>